<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson</title>
</head>
<body>

<h1>{{ lesson.item }}</h1>
<p>{%if lesson.linked_kanji%}
        This is vocab! It contains the following kanji:
        <p>{% for k in lesson.linked_kanji.all%}
            {% if forloop.counter > 1%} | {% endif %}
            {{ k.item }}
        {% endfor %}</p>
    {% else %}
        This is kanji!
{% endif %}</p>
<p>meaning: {% for meaning in meaning %}
    {% if forloop.counter > 1%} | {% endif %}
    {{ meaning.meanings }}
{% endfor %}
</p>
<p>reading: {% for reading in reading %}
    {% if forloop.counter > 1%} , {% endif %}
    {{ reading.readings }}
{% endfor %}
</p>

<form method="POST">
    {% csrf_token %}
    {{ user_syn_form.as_table }}
    {{ item_form.as_table }}
    <button type="submit" class="save btn btn-default">Lesson Learned!</button>
</form>


</body>
</html>